.outerContainer {
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 1rem;
  align-items: stretch;
}

.bodyHeader {
  font-size: 1.25rem;
  padding: 2rem;
  border: solid;
  border-width: 0 0 2px 0;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.topics {
  display: flex;
  flex-direction: column;
  min-width: 12rem;
}

.item {
  padding: 1rem 1rem;
  font-size: 1.25rem;
  border: solid;
  border-width: 0 0 2px 0;
  background-color: white;
}

.item:hover {
  background-color: rgb(200, 200, 200);
  cursor: pointer;
}

.selected {
  font-weight: bold;
}


.content {
  font-size: 1.125rem;
  padding: 2rem;
}


.links {
  padding-left: 0;
  list-style-position: inside;
}

.site {
  font-weight: bold;
  text-decoration: none;
  color: black;
}

.site:hover {
  color: rgb(150, 150, 150);
}

@media (min-width: 64rem) {
  .container {
    flex-direction: row;
    align-items: stretch;
  }

  .topics {
    border: solid;
    border-width: 0 2px 0 0;
  }

  .item {
    padding: 2rem 1rem;
  }

  .item:last-child {
    border-bottom-width: 0;
    border-bottom-left-radius: 1rem;
  }
}