.topLeft {
  display: flex;
  flex-direction: column;
  max-width: 24rem;
}

.title {
  font-size: 3rem;
  margin-bottom: 3rem;
  font-weight: 500;
}

.subtitle {
  font-size: 1.5rem;
  margin-bottom: 3rem;
}

.item {
  font-size: 1.125rem;
  margin-bottom: 0.5rem;
  display: flex;
  text-decoration: none;
  align-items: center;
  min-height: 2rem;
}

.text {
  margin-left: 1rem;
  text-decoration: none;
  color: black;
}

.text:hover {
  color: rgb(150, 150, 150);
}
